* {
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  border: 0;
}

.App {
  display: flex;
}

.Menu {
  /* position: fixed; */
  width: 300px;
  background-color: blue;
  color: white;
  text-shadow: 2rem;
  margin: 5px;
  border-radius: 5px;
  padding: 10px 0 10px 0;
}

.Menu>h1 {
  margin-bottom: 50px;
}

.Menu>form {
  /* text-align: left; */
  width: 250px;
}

.Menu>form>button {
  font-size: 20px;
  margin: 10px 0 10px 0;
  width: 120px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
}

.Board {
  text-align: left;
  border: 2px solid black;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
}

header {
  color: white;
  display: flex;
}

.row {
  display: flex;
}

.Cell {
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: blueviolet;
  border-radius: 5px;
}